<app-navbar></app-navbar>
<div class="tabla-usuario text-focus-in" *ngIf="!createrUserMenu">
  <h3 style="font-size: 2rem; font-weight: bolder">LISTADO DE USUARIOS</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" style="color: #000;">VER TURNOS</th>
        <th scope="col" style="color: #000;">PERFIL</th>
        <th scope="col" style="color: #000;">NOMBRE</th>
        <th scope="col" style="color: #000;">APELLIDO</th>
        <th scope="col" style="color: #000;">ACCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr class="tr-tabla" *ngFor="let user of usersList">
        <td>
          <button
            type="button"
            class="btn-fav"
            title="Descargar detalles de turnos"
            (click)="verTurnosUsuario(user)"
            style="padding: 0;"
          >
          <div style="display: flex; flex-direction: column; align-items: center; margin: 0;" >
            <img
              class="img-btn"
              src="{{ user.imagen1 }}"
              alt="imagen"
            />
            <p style="margin: 0; padding: 0; position: absolute; margin-top: 5px; font-size: 15px; font-weight: bolder;">{{ user.nombre }}</p>
          </div>
          </button>
        </td>
        <td style="text-transform: upperCase">
          <span>{{ user.perfil }}</span>
        </td>
        <td>
          <span>{{ user.nombre }}</span>
        </td>
        <td>
          <span>{{ user.apellido }}</span>
        </td>
        <td>
          <div *ngIf="user.perfil == 'especialista'">
            <button
              class="btn-habilitar"
              *ngIf="!user.aprobado"
              (click)="updateUser(user, 1)"
            >
              Habilitar
            </button>
            <button
              class="btn-deshabilitar"
              *ngIf="user.aprobado"
              (click)="updateUser(user, 2)"
            >
              Deshabilitar
            </button>
          </div>
          <button
            *ngIf="user.perfil == 'paciente' && user.historial"
            class="btn-historial"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="verHistorialPaciente(user)"
          >
            Historial
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button
  class="btn-habilitar btn-nuevo-usuario"
  *ngIf="!createrUserMenu"
  (click)="showCreateUserMenu()"
>
  REGISTRAR NUEVO USUARIO
</button>

<button
  class="btn-habilitar btn-excel"
  *ngIf="!createrUserMenu"
  (click)="descargarExcel()"
>
  Descargar Excel
</button>

<button
  class="btn-habilitar btn-menu-volver"
  *ngIf="createrUserMenu"
  (click)="showUserList()"
>
  VOLVER AL LISTADO DE USUARIOS
</button>

<div
  class="opcion-registros row"
  *ngIf="
    !formPaciente && !formEspecialista && !formAdministrador && createrUserMenu
  "
>
  <div class="col text-focus-in" (click)="goToFormPaciente()">
    <div>
      <h2>Paciente</h2>
      <img src="../../../assets/paciente.png" alt="imagen paciente" />
    </div>
  </div>
  <div class="col text-focus-in" (click)="goToFormEspecialista()">
    <div>
      <h2>Especialista</h2>
      <img src="../../../assets/especialista.png" alt="imagen especialista" />
    </div>
  </div>
  <div class="col text-focus-in" (click)="goToFormAdministrador()">
    <div>
      <h2>Administrador</h2>
      <img src="../../../assets/admin.png" alt="imagen adminitrador" />
    </div>
  </div>
</div>

<div class="registro-paciente" *ngIf="formPaciente">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">
    Volver
  </button>
  <app-alta-paciente></app-alta-paciente>
</div>
<div class="registro-especialista" *ngIf="formEspecialista">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">
    Volver
  </button>
  <app-alta-especialista></app-alta-especialista>
</div>
<div class="registro-especialista" *ngIf="formAdministrador">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">
    Volver
  </button>
  <app-alta-administrador></app-alta-administrador>
</div>

<div class="usuarios-container"></div>
<!-- MODAL -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #236c7d; color: #000000;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          HISTORIAL CLÍNICO
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let historial of historialActivo" class="carta-historial">
          <h3 style="background-color: #17444f;">{{ historial?.fecha | dayDate}}</h3>
          <hr />
          <p>
            <span>Paciente: </span>{{ historial.paciente.apellido }},
            {{ historial.paciente.nombre }}
          </p>
          <p><span>Especialidad: </span>{{ historial.especialidad }}</p>
          <p>
            <span>Especialista: </span>{{ historial.especialista.apellido }},
            {{ historial.especialista.nombre }}
          </p>
          <p><span>Detalle: </span></p>
          <p>Altura: {{ historial.detalle.altura }}</p>
          <p>Peso: {{ historial.detalle.peso }}</p>
          <p>Temperatura: {{ historial.detalle.temperatura }}</p>
          <p>Presión: {{ historial.detalle.presion }}</p>
          <p><span>Detalles adicionales: </span></p>
          <p *ngIf="historial.detalleAdicional?.clave1">
            {{ historial.detalleAdicional?.clave1 }}:
            {{ historial.detalleAdicional?.valor1 }}
          </p>
          <p *ngIf="historial.detalleAdicional?.clave2">
            {{ historial.detalleAdicional?.clave2 }}:
            {{ historial.detalleAdicional?.valor2 }}
          </p>
          <p *ngIf="historial.detalleAdicional?.clave3">
            {{ historial.detalleAdicional?.clave3 }}:
            {{ historial.detalleAdicional?.valor3 }}
          </p>
          <hr />
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>