@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Raleway:wght@800&display=swap');

.contenedor-form {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  display: block;
  padding: 3rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  background: rgb(32, 121, 120);
  box-shadow: 2px 2px 2px #000;
  h2 {
    text-shadow: 2px 2px 2px #000;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    border-radius: 1rem;
    margin-top: 0px;
    margin-bottom: 30px;
  }
  label {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    padding: 0px 10px;
    border-radius: 5px;
  }
}

.mensaje-error {
  font-family: 'Quicksand', sans-serif;
  color: rgb(115, 7, 7);
  padding: 0px 5px;
  border-radius: 5px;
  font-weight: bolder;
}

.btn {
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin: 0 auto;
  border: 2px #ffff solid;
  color: #ffffff;
  padding: 16px 20px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  display: block;
  width: 200px;
  margin-top: 5px;
}

.btn span:last-child {
  display: none;
}

.btn:hover {
  color: #fff;
}

.btn::after {
   content: "";
  background: #17444f;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.btn:hover::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000000000;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: #17444f;
  border-bottom-color: #4b9a81;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile-image[src=""],
.profile-image:not([src]) {
  display: none;
}

.profile-image{
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
}