<div class="main">
    <div>
        <h3
            style="font-size: 20px;align-items: center;justify-content: center;display: flex;font-family: 'Poppins', sans-serif; margin-top: 2%; font-weight: 600;">
            Seleccione una
            especialidad:</h3>
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="valorInput" (input)="filtrarLista()" placeholder="Buscar" class="form-control"
                pattern="[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+" (blur)="validarEspecialidad()">
            </div>
            <div class="col-sm-2">
              <button (click)="agregarItem()" class="btn btn-primary" style="width: 110%; height: 40px;">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col-sm-2">
            </div>
</div>
        <ul>
            <div *ngIf="listaFiltrada.length==0"
                style="display: flex; flex-direction: column; align-items: flex-start;height: 20px;font-family: 'Poppins', sans-serif;">
                <button *ngFor="let item of especialidades" class="btn-lista" style="height: 70px;width: 300px;"
                    (click)="clickListado(item)">{{item}}</button>
            </div>
            <div *ngIf="listaFiltrada.length>0"
                style="display: flex; flex-direction: column; align-items: flex-start;height: 20px;font-family: 'Poppins', sans-serif;">
                <button *ngFor="let especialidad of listaFiltrada" class="btn-lista" style="height: 70px;width: 300px;"
                    (click)="clickListado(especialidad)">{{ especialidad }}</button>
            </div>
        </ul>
    </div>
</div>