<app-navbar></app-navbar>
<div class="opcion-registros" *ngIf="!formPaciente && !formEspecialista">
  <div class="row card-form text-focus-in" (click)="goToFormPaciente()">
    <div>
      <h2>Paciente</h2>
      <img src="../../../assets/paciente.png" alt="imagen paciente"/>
    </div>
  </div>
  <div class="row card-form text-focus-in" (click)="goToFormEspecialista()">
    <div>
      <h2>Especialista</h2>
      <img src="../../../assets/especialista.png" alt="imagen especialista" />
    </div>
  </div>
</div>
<div class="registro-paciente" *ngIf="formPaciente">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">Volver</button>
  <img src="../../../assets/favicon.png" class="img-logo">
  <app-alta-paciente></app-alta-paciente>
</div>
<div class="registro-especialista" *ngIf="formEspecialista">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">Volver</button>
  <img src="../../../assets/favicon.png" class="img-logo">
  <app-alta-especialista></app-alta-especialista> 
</div>
<div class="registro-container"></div>
<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>
