<app-navbar></app-navbar>

<div class="contenedor-spinner" *ngIf="spinner">
  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
  </div>
</div>

<div class="contenedor-estadisticas">
  <div>
    <h3>GRÁFICOS Y ESTADÍSTICAS</h3>
    <div class="row">
      <div
        class="col carta-especialista"
        data-bs-toggle="modal"
        data-bs-target="#modalLogUsuarios"
        [appTarjeta]="'log'"
        [appHover]="'verde'"
      ></div>
      <div
        class="col carta-especialista"
        data-bs-toggle="modal"
        data-bs-target="#modalTurnosPorEspecialidad"
        [appTarjeta]="'especialidad'"
        [appHover]="'verde'"
      ></div>
      <div
        class="col carta-especialista"
        data-bs-toggle="modal"
        data-bs-target="#modalTurnosPorDia"
        [appTarjeta]="'dia'"
        [appHover]="'verde'"
      ></div>
      <div
        class="col carta-especialista"
        data-bs-toggle="modal"
        data-bs-target="#modalTurnosSolicitadosPorMedico"
        [appTarjeta]="'solicitados'"
        [appHover]="'verde'"
      ></div>
      <div
        class="col carta-especialista"
        data-bs-toggle="modal"
        data-bs-target="#modalTurnosFinalizadosPorMedico"
        [appTarjeta]="'finalizados'"
        [appHover]="'verde'"
      ></div>
    </div>
  </div>
</div>

<div class="informes-container"></div>

<!-- MODAL DE LOG DE USUARIOS -->
<div
  class="modal fade"
  id="modalLogUsuarios"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #107b96; color: #000000;">
      <div class="modal-header">
        <h1>LOG DE USUARIOS</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="color: #000;">
        <button
          type="button"
          [appBoton]="'pdf'"
          style="margin-right: 1rem; margin-bottom: 1rem"
          (click)="descargarPDFLogs()"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          [appBoton]="'excel'"
          style="margin-bottom: 1rem"
          (click)="descargarExcelLogs()"
        >
          Descargar EXCEL
        </button>
        <div id="pdflogs">
          <div
            style="display: flex; align-content: center; margin-bottom: 2rem"
          >
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">FECHA</th>
                <!-- <th scope="col">ID</th> -->
                <th scope="col">PERFIL</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-tabla" *ngFor="let log of listaLogs">
                <td>
                  {{ log.fecha | dayWithHour  }}
                </td>
                <!-- <td>{{ log.id }}</td> -->
                <td>{{ log.perfil }}</td>
                <td>{{ log.nombre }}</td>
                <td>{{ log.apellido }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE TURNOS POR ESPECIALIDAD -->
<div
  class="modal fade"
  id="modalTurnosPorEspecialidad"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #107b96; color: #000000;">
      <div class="modal-header">
        <h1>TURNOS POR ESPECIALIDAD</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="color: #000;">
        <button
          type="button"
          [appBoton]="'pdf'"
          style="margin-right: 1rem; margin-bottom: 1rem"
          (click)="descargarPDFTurnosPorEspecialidad()"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          [appBoton]="'excel'"
          style="margin-bottom: 1rem"
          (click)="descargarExcelTurnosPorEspecialidad()"
        >
          Descargar EXCEL
        </button>
        <div id="pdfTurnosPorEspecialidad">
          <div
            style="display: flex; align-content: center; margin-bottom: 2rem"
          >
          </div>
          <div style="margin-top: 3rem tpesp; color: #000;">
            <canvas id="turnosPorEspecialidad" style="color: #000;"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE TURNOS POR DIA -->
<div
  class="modal fade"
  id="modalTurnosPorDia"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #002028; color: #000000;">
      <div class="modal-header">
        <h1>TURNOS POR DÍA</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" style="color: #000;">
        <button
          type="button"
          [appBoton]="'pdf'"
          style="margin-right: 1rem; margin-bottom: 1rem"
          (click)="descargarPDFTurnosPorDia()"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          [appBoton]="'excel'"
          style="margin-bottom: 1rem"
          (click)="descargarExcelTurnosPorDia()"
        >
          Descargar EXCEL
        </button>
        <div id="pdfTurnosPorDia">
          <div
            style="display: flex; align-content: center; margin-bottom: 2rem"
          >
          </div>
          <div style="margin-top: 1rem; width: 65%; margin-left: 20%">
            <canvas id="turnosPorDia"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE TURNOS SOLICITADOS POR MEDICO EN UN LAPSO DE TIEMPO -->
<div
  class="modal fade"
  id="modalTurnosSolicitadosPorMedico"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #002028; color: #000000;">
      <div class="modal-header">
        <h1>TURNOS SOLICITADOS POR MÉDICO</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <button
          type="button"
          [appBoton]="'pdf'"
          style="margin-right: 1rem; margin-bottom: 1rem"
          (click)="descargarPDFTurnosSolicitadosPorMedico()"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          class="btn btn-success"
          style="margin-bottom: 1rem"
          (click)="descargarExcelTurnosSolicitadosPorMedico()"
        >
          Descargar EXCEL
        </button>
        <br />
        <div
          style="
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          "
        >
          <label
            style="font-size: 1rem; font-weight: bolder; margin-right: 2rem; margin-left: 0px; left: 0%;"
            >FILTRO:
          </label>
          <button
            class="btn"
            [ngClass]="btn7Dias ? 'btn-info' : 'btn-warning'"
            style="margin-right: 1rem"
            (click)="filtrarTurnosPorDias(7)"
          >
            7 DÍAS
          </button>
          <button
            class="btn"
            [ngClass]="btn15Dias ? 'btn-info' : 'btn-warning'"
            style="margin-right: 1rem"
            (click)="filtrarTurnosPorDias(15)"
          >
            15 DÍAS
          </button>
        </div>
        <div id="pdfTurnosSolicitadosPorMedico">
          <div
            style="display: flex; align-content: center; margin-bottom: 2rem"
          >
          </div>
          <h1 style="text-align: center; font-size: 1.5rem">
            TURNOS SOLICITADOS POR MÉDICO DE LOS PRÓXIMOS
            {{ btn15Dias ? "15 DÍAS" : "7 DÍAS" }}
          </h1>
          <div
            style="margin-top: 1rem; width: 65%; margin-left: 20%"
            *ngIf="banderaChartSolicitados"
          >
            <canvas id="turnosSolicitadosPorMedico"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DE TURNOS FINALIZADOS POR MEDICO EN UN LAPSO DE TIEMPO -->
<div
  class="modal fade"
  id="modalTurnosFinalizadosPorMedico"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #002028; color: #000000;">
      <div class="modal-header">
        <h1>TURNOS FINALIZADOS</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <button
          type="button"
          [appBoton]="'pdf'"
          style="margin-right: 1rem; margin-bottom: 1rem"
          (click)="descargarPDFTurnosFinalizadosPorMedico()"
        >
          Descargar PDF
        </button>
        <button
          type="button"
          [appBoton]="'excel'"
          style="margin-bottom: 1rem"
          (click)="descargarExcelTurnosFinalizadosPorMedico()"
        >
          Descargar EXCEL
        </button>
        <br />
        <div
          style="
            display: block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          "
        >
          <label
            style="font-size: 1rem; font-weight: bolder; margin-right: 2rem"
            >FILTRO:
          </label>
          <button
            class="btn"
            [ngClass]="btn7DiasFinalizado ? 'btn-info' : 'btn-warning'"
            style="margin-right: 1rem"
            (click)="filtrarTurnosPorDiasFinalizados(7)"
          >
            7 DÍAS
          </button>
          <button
            class="btn"
            [ngClass]="btn15DiasFinalizado ? 'btn-info' : 'btn-warning'"
            style="margin-right: 1rem"
            (click)="filtrarTurnosPorDiasFinalizados(15)"
          >
            15 DÍAS
          </button>
        </div>
        <div id="pdfTurnosFinalizadosPorMedico">
          <div
            style="display: flex; align-content: center; margin-bottom: 2rem"
          >
          </div>
          <h1 style="text-align: center; font-size: 1.5rem">
            TURNOS FINALIZADOS POR MÉDICO HACE
            {{ btn15DiasFinalizado ? "15 DÍAS" : "7 DÍAS" }}
          </h1>
          <div
            style="margin-top: 1rem; width: 65%; margin-left: 20%"
            *ngIf="banderaChartFinalizados"
          >
            <canvas id="turnosFinalizadosPorMedico"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>
