<form
  [formGroup]="formPaciente"
  class="contenedor-form"
  (ngSubmit)="registerPaciente()"
>
  <h2>PACIENTE</h2>

  <div class="row">
    <div class="col-sm mb-3">

      <input
        formControlName="nombre"
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Nombre"
        style="width: 100%;"
      />
    <small
        class="mensaje-error"
        *ngIf="
          formPaciente.get('nombre')?.invalid &&
          formPaciente.get('nombre')?.touched &&
          formPaciente.get('nombre')?.errors?.['pattern']"
      >
        *Ingrese solo letras
      </small>
      <small
        class="mensaje-error"
        *ngIf="
          formPaciente.get('nombre')?.errors?.['required'] &&
          formPaciente.get('nombre')?.touched"
      >
        *El nombre es obligatorio
      </small>
    </div>
    <div class="col-sm mb-3">
  <input
    formControlName="apellido"
    type="text"
    class="form-control"
    id="apellido"
    placeholder="Apellido"
  />
  <small
    class="mensaje-error"
    *ngIf="
      formPaciente.get('apellido')?.invalid &&
      formPaciente.get('apellido')?.touched &&
      formPaciente.get('apellido')?.errors?.['pattern']"
  >
    *Ingrese solo letras
  </small>
  <small
    class="mensaje-error"
    *ngIf="
      formPaciente.get('apellido')?.errors?.['required'] &&
      formPaciente.get('apellido')?.touched"
  >
    *El apellido es obligatorio
  </small>
</div>
    <div class="col-sm mb-3">
  
      <input
        formControlName="edad"
        type="number"
        class="form-control"
        placeholder="Edad"
        min="18"
        max="99"
      />
      <small
        class="mensaje-error"
        *ngIf="formPaciente.controls['edad'].errors?.['required'] && formPaciente.controls['edad'].touched"
      >
        *La edad es obligatoria
      </small>
      <small
        class="mensaje-error"
        *ngIf="formPaciente.controls['edad'].errors?.['min'] || (formPaciente.controls['edad'].errors?.['max'] &&
        formPaciente.controls['edad'].touched)"
      >
        *La edad debe ser entre 18 y 99 años
      </small>
    </div>
  </div>

  <div class="row">
     <div class="col-sm mb-3">
      <input
        formControlName="dni"
        type="number"
        class="form-control"
        placeholder="N° DNI"
        min="11111111"
        max="99999999"
      />
      <small
        class="mensaje-error"
        *ngIf="
        formPaciente.controls['dni'].errors?.['required'] &&
        formPaciente.controls['dni'].touched"
      >
        *El DNI es obligatorio
      </small>
      <small
        class="mensaje-error"
        *ngIf="formPaciente.controls['dni'].errors?.['min'] || (formPaciente.controls['dni'].errors?.['max'] && formPaciente.controls['dni'].touched)"
      >
        *Ingrese un DNI válido
      </small>
    </div>
    <div class="col-sm mb-3">

      <input
        formControlName="obraSocial"
        type="text"
        class="form-control"
        placeholder="Obra Social"
      />
      <small
        class="mensaje-error"
        *ngIf="formPaciente.controls['obraSocial'].errors?.['required'] && formPaciente.controls['obraSocial'].touched"
      >
        *La Obra Social es obligatoria
      </small>
    </div>
  <div>
     <div class="col-sm mb-3">

      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Correo eléctronico"
      />
      <small
        class="mensaje-error"
        *ngIf="formPaciente.controls['email'].errors?.['required'] && formPaciente.controls['email'].touched"
      >
        *El correo es obligatorio
      </small>
    </div>

    <div class="col-sm mb-3">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Contraseña"
        pattern=".{6,}"
        title="Debe tener como mínimo 6 caracteres"
      />
      <small
        class="mensaje-error"
        *ngIf="
          formPaciente.controls['password'].errors?.['required'] &&
          formPaciente.controls['password'].touched
        "
      >
        *La contraseña es obligatoria
      </small>
      <small
        class="mensaje-error"
        *ngIf="
          formPaciente.controls['password'].errors?.['pattern'] &&
          formPaciente.controls['password'].touched
        "
      >
        *Debe tener como mínimo 6 caracteres
      </small>
    </div>
  </div>
    <div class="col-sm mb-3">
      <label for="imagen1" class="form-label" style="font-weight: bolder; font-family: 'QuickSand', sans-serif;">1RA IMÁGEN DE PERFIL</label>
      <input
        type="file"
        class="form-control"
        placeholder="Imágen Perfil"
        aria-label="Seleccionar imagen"
        (change)="uploadImage($event, 1)"
      />
      <img id="profileImage1"  class="profile-image1" src="" alt="Imagen de perfil">
    </div>

    <div class="col-sm mb-3">
      <label for="imagen2" class="form-label" style="font-weight: bolder; font-family: 'QuickSand', sans-serif;">2DA IMÁGEN DE PERFIL</label>
      <input
        type="file"
        class="form-control"
        placeholder="Imágen Perfil 2"
        (change)="uploadImage($event, 2)"
      />
      <img id="profileImage2"  class="profile-image2" src="" alt="Imagen de perfil">
    </div>

      <div class="row">
    <!-- INPUT CAPTCHA -->
    <div class="col col-6 mb-3">
      <p class="captcha">
        {{ captcha }}
      </p>
    </div>
    <div class="col col-6 mb-3">
      <input
        formControlName="captcha"
        type="text"
        class="form-control"
        placeholder="CAPTCHA"
      />
      <small
        class="mensaje-error"
        *ngIf="
                formPaciente.controls['captcha'].errors?.['required'] &&
                formPaciente.controls['captcha'].touched
                        "
      >
        El Captcha es requerido
      </small>
    </div>
  </div>
  </div>
  <button class="btn">REGISTRAR</button>
</form>

<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>