<section class="fondo-login">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; background: rgb(32, 121, 120); border: 3px solid #fff; height: 400px;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/assets/favicon.png" alt="login form" style="border-radius: 50px; height: 394px;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center" style="padding-left:1.5rem ;">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="formLogin" (ngSubmit)="loginUser()" class="form-login">
                  <h3 style="font-weight: bolder; color: #fff;" class="titulo">
                  Ingrese sus datos para iniciar sesión.
                 </h3>
                  <div class="d-flex align-items-center mb-3 pb-1">
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" name="email" formControlName="email" placeholder="Correo electrónico" class="form-control form-control-lg" />
                  <small class="mensaje-error" *ngIf="formLogin.controls['email'].errors?.['required'] && formLogin.controls['email'].touched">
                    *El correo es obligatorio
                  </small>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" name="password" placeholder="Contraseña" formControlName="password" required id="form2Example27" class="form-control form-control-lg" />
                    <small class="mensaje-error" *ngIf="formLogin.controls['password'].errors?.['required'] && formLogin.controls['password'].touched">
                      *La contraseña es obligatoria
                    </small>
                  </div>

                  <button class="btn-login" style="display: block;" type="submit" value="Iniciar">Iniciar sesión</button>
                </form>
              <app-usuarios-inicio (botonClickeado)="clickListado($event)"></app-usuarios-inicio>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>