<div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
  </div>

  <div class="solicitar-turno">
    <div *ngIf="patientSelectionMenu">
      <h3>PACIENTES</h3>
      <div class="row" style="overflow-x: scroll">
        <div
          class="col carta-especialista"
          *ngFor="let pac of pacientesList"
          (click)="showPatient(pac)"
        >
          <img src="{{ pac.imagen1 }}" alt="imagen" />
          <p>{{ pac.nombre }} - {{ pac.apellido }}</p>
        </div>
      </div>
    </div>

    <div
      class="contenedor-especialistas"
      *ngIf="specialistSelectionMenu && !patientSelectionMenu"
    >
      <h3>ESPECIALISTAS</h3>
      <div
        class="contenerdor-carta-esp"
        style="display: flex; justify-content: center"
      >
        <div
          *ngFor="let esp of especialistasList"
          (click)="showSpeciality(esp)"
        >
          <div>
            <p style="text-align: center; font-weight: bolder;">
              {{ esp.nombre }} - {{ esp.apellido }}
            </p>
            <img
              class="carta-especialista"
              style="
                border-radius: 50%;
                width: 15rem;
                height: 15rem;
                display: flex;
                justify-content: center;
              "
              src="{{ esp.imagen1 }}"
              alt="imagen"
            />
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="activeEspecialista && !turnsSelectionMenu">
      <h3>ESPECIALIDADES</h3>
      <div class="row">
        <div
          class="col especialidades"
          style="border-radius: 2rem"
          *ngFor="let especialidad of activeEspecialista.especialidad"
          (click)="showTurns(especialidad)"
        >
          <h1 style="text-align: center; margin: 0 auto; margin-top: 170px; font-family: Raleway, sans-serif; color: #ffff;">{{ especialidad.nombre }}</h1>
        </div>
      </div>
    </div>

    <div *ngIf="turnsSelectionMenu">
      <h3>SELECCIÓN DE TURNO</h3>
      <div class="row">
        <div class="col carta-turno">
          <img src="{{ activeEspecialista.imagen1 }}" alt="imagen" />
          <h1 class="especialista-activo">
            {{ activeEspecialista.nombre }} - {{ activeEspecialista.apellido }}
          </h1>
          <h1 class="especialista-activo">{{ speciality.nombre }}</h1>
        </div>
        <div class="col turnos-desk">
          <button
            class="btn btn-success"
            style="
              text-transform: uppercase;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
            "
            *ngFor="let dia of diasAMostrar"
            (click)="loadFreeHoursOneDay(dia)"
          >
            {{ dia | date: 'd/M/yy'}}
          </button>
          <br />
          <p *ngIf="diasAMostrar.length == 0" style="text-align: center">
            No hay turnos disponibles
          </p>
          <div style="overflow-y: scroll; height: 15rem">
            <button
              class="btn btn-info"
              style="
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
                margin: 0.1rem;
              "
              *ngFor="let turno of turnosDeUnDiaAMostrar"
              (click)="seleccionarTurno(turno)"
            >
              {{ turno.fecha | date: 'h:mm'  }}
            </button>
          </div>
          <button
            *ngIf="botonPedirTurno"
            class="btn btn-primary"
            style="margin-top: 1rem; width: 100%"
            (click)="solicitarTurno()"
          >
            Solicitar Turno
          </button>
        </div>
      </div>

      <div class="row turnos-resp">
        <div class="col">
          <button
            class="btn btn-success btn-dia"
            style="
              text-transform: uppercase;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
            "
            *ngFor="let dia of diasAMostrar"
            (click)="loadFreeHoursOneDay(dia)"
          >
            {{ dia  | date: 'd/M/yy'}}
          </button>
          <br />
          <p *ngIf="diasAMostrar.length == 0" style="text-align: center">
            No hay turnos disponibles
          </p>
          <div class="contenedor-btn-hora">
            <button
              class="btn btn-info"
              style="
                width: 4rem;
                height: 4rem;
                border-radius: 1rem;
                margin: 0.1rem;
                
              "
              *ngFor="let turno of turnosDeUnDiaAMostrar"
              (click)="seleccionarTurno(turno)"
            >
              {{ turno.fecha | date: 'h:mm'  }}
            </button>
          </div>
          <button
            *ngIf="botonPedirTurno"
            class="btn btn-primary"
            style="margin-top: 1rem; width: 100%"
            (click)="solicitarTurno()"
          >
            Solicitar Turno
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="solicitar-turno-container"></div>
</div>