<app-navbar></app-navbar>
<div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
  </div>

  <div class="solicitar-turno">
    <div *ngIf="patientSelectionMenu">
      <h3>PACIENTES</h3>
      <div class="row" style="overflow-x: scroll">
        <div
          class="col carta-especialista"
          *ngFor="let pac of pacientesList"
          (click)="showPatient(pac)"
        >
          <img src="{{ pac.imagen1 }}" alt="imagen" />
          <p>{{ pac.nombre }} - {{ pac.apellido }}</p>
        </div>
      </div>
    </div>

    <div
      class="contenedor-especialistas"
      *ngIf="specialistSelectionMenu && !patientSelectionMenu"
    >
      <h3>ESPECIALISTAS</h3>
      <div
        class="contenerdor-carta-esp"
        style="display: flex; justify-content: center"
      >
        <div
          *ngFor="let esp of especialistasList"
          (click)="showSpeciality(esp)"
        >
          <div>
            <p style="text-align: center; font-weight: bolder;">
              {{ esp.nombre }} - {{ esp.apellido }}
            </p>
            <img
              class="carta-especialista"
              style="
                width: 15rem;
                height: 15rem;
                display: flex;
                justify-content: center;
              "
              src="{{ esp.imagen1 }}"
              alt="imagen"
            />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeEspecialista && !turnsSelectionMenu">
      <h3>ESPECIALIDADES</h3>
      <div class="row">
        <div
          class="col"
          *ngFor="let especialidad of activeEspecialista.especialidad"
        >
          <h1 class="especialidad-p">{{especialidad.nombre}}</h1>
          <button class="especialidades" (click)="showTurns(especialidad)" *ngIf="especialidad.nombre == 'Cirujano'">
          <img
            src="../../../assets/cirujano.png"
            alt=""
          />
          </button>
          
          <button class="especialidades" (click)="showTurns(especialidad)" *ngIf="especialidad.nombre == 'Odontología'">
          <img
            src="../../../assets/odontologia.png"
            alt=""
          />
          </button>

          <button class="especialidades" (click)="showTurns(especialidad)" *ngIf="especialidad.nombre == 'Oftalmología'">
          <img
            src="../../../assets/oftalmologia.png"
            alt=""
          />
          </button>

          <button class="especialidades" (click)="showTurns(especialidad)" *ngIf="especialidad.nombre == 'Kinesiología'">
          <img
            src="../../../assets/kinesiologia.png"
            alt=""
          />
          </button>

          <button class="especialidades" (click)="showTurns(especialidad)" *ngIf="
              especialidad.nombre != 'Cirujano' &&
              especialidad.nombre != 'Odontología' &&
              especialidad.nombre != 'Oftalmología' &&
              especialidad.nombre != 'Kinesiología'
            ">
          <img
            (click)="showTurns(especialidad)"
            src="../../../assets/default.png"
            alt=""
          />
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="turnsSelectionMenu">
      <h3>SELECCIÓN DE TURNO</h3>
      <div class="row">
        <div class="col carta-turno">
          <img src="{{ activeEspecialista.imagen1 }}" alt="imagen" />
          <h1 class="especialista-activo">
            {{ activeEspecialista.nombre }} - {{ activeEspecialista.apellido }}
          </h1>
          <h1 class="especialista-activo">{{ speciality.nombre }}</h1>
        </div>
        <div class="col turnos-desk" style="overflow-y: scroll; height: 35rem">
          <button
            class="btn btn-turnos"
            style="
              text-transform: uppercase;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              margin-bottom: 0.5rem;
              width: 150px;
              height: 150px;
            "
            *ngFor="let turno of turnosAMostrar"
            (click)="seleccionarTurno(turno)"
          >
          <p style="font-size: 15px;">{{ turno.fecha | dayWithHour}}</p>
          </button>
          <br />
          <p *ngIf="diasAMostrar.length == 0" style="text-align: center">
            No hay turnos disponibles
          </p>
        </div>
      </div>
    </div>
    <button
      *ngIf="botonPedirTurno"
      class="btn btn-primary"
      style="margin-top: 1rem; width: 100%"
      (click)="solicitarTurno()"
    >
      Solicitar Turno
    </button>
  </div>

  <div class="solicitar-turno-container"></div>
</div>

<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>
