<app-navbar></app-navbar>
<div>
  <div class="contenedor-spinner" *ngIf="spinner">
    <div class="wrapper">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
      <div class="shadow"></div>
    </div>
  </div>

  <div class="perfil" *ngIf="!isEspecialista">
    <h3>MI PERFIL</h3>
    <div style="display: flex; justify-content: center">
      <img class="img-perfil" src="{{ user?.imagen1 }}" alt="imagen 1" />
      <img
        class="img-perfil"
        style="width: 3rem; height: 3rem"
        src="{{ user?.imagen2 }}"
        alt="imagen 2"
        *ngIf="isPaciente"
      />
    </div>
    <!-- PERFIL USUARIO  -->
    <div class="row" *ngIf="isPaciente">
      <div class="col">
        <label>Nombre</label>
        <p style="color: #ffff;">{{ user?.nombre }}</p>
        <label>Apellido</label>
        <p style="color: #ffff;">{{ user?.apellido }}</p>
        <label>Edad</label>
        <p style="color: #ffff;">{{ user?.edad }} años</p>
        <label>DNI</label>
        <p style="color: #ffff;">{{ user?.dni }}</p>
      </div>
      <div class="col">
        <label>Email</label>
        <p style="color: #ffff;">{{ user?.mail }}</p>
        <label>Obra Social</label>
        <p style="color: #ffff;">{{ user?.obraSocial }}</p>
        <label>Tipo de Usuario</label>
        <p style="color: #ffff;">{{ user?.perfil }}</p>
        <br/>
        <button
          *ngIf="hayHistorial"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          class="btn btn-info"
          (click)="verHistorialClinico()"
        >
          Ver Historial Clínico
        </button>
        <p style="color: #ffff;" *ngIf="!hayHistorial">No hay historial cliníco disponible</p>
      </div>
    </div>

    <!-- PERFIL ADMINISTRADOR  -->
    <div class="row" *ngIf="authService.isAdmin">
      <div class="col">
        <label>Nombre</label>
        <p style="color: #ffff;">{{ user?.nombre }}</p>
        <label>Apellido</label>
        <p style="color: #ffff;">{{ user?.apellido }}</p>
        <label>Edad</label>
        <p style="color: #ffff;">{{ user?.edad }} años</p>
      </div>
      <div class="col">
        <label>DNI</label>
        <p style="color: #ffff;">{{ user?.dni }}</p>
        <label>Email</label>
        <p style="color: #ffff;">{{ user?.mail }}</p>
        <label>Tipo de Usuario</label>
        <p style="color: #ffff;">{{ user?.perfil }}</p>
      </div>
    </div>
  </div>

  <!-- PERFIL ESPECIALISTA -->
  <div class="perfil-esp" *ngIf="isEspecialista">
    <h3>Mi Perfil</h3>
    <div style="display: flex; justify-content: center">
      <img class="img-perfil" src="{{ user?.imagen1 }}" alt="imagen 1" />
      <img
        class="img-perfil"
        style="width: 3rem; height: 3rem"
        src="{{ user?.imagen2 }}"
        alt="imagen 2"
        *ngIf="isPaciente"
      />
    </div>

    <!-- PERFIL ESPECIALISTA -->
    <div class="row" *ngIf="isEspecialista">
      <div class="col col-3">
        <label>Nombre</label>
        <p style="color: #ffff;">{{ user?.nombre }}</p>
        <label>Apellido</label>
        <p style="color: #ffff;">{{ user?.apellido }}</p>
        <label>Edad</label>
        <p style="color: #ffff;">{{ user?.edad }} años</p>
        <label>DNI</label>
        <p style="color: #ffff;">{{ user?.dni }}</p>
      </div>
      <div class="col col-4">
        <label>Email</label>
        <p style="color: #ffff;">{{ user?.mail }}</p>
        <label>Especialidad</label>
        <p style="color: #ffff;">
          <span *ngFor="let esp of user.especialidad">{{ esp.nombre }} / </span> 
        </p>
        <button
          class="btn btn-especialidad"
          [ngClass]="especialidad1 ? 'btn-info' : ''"
          style="text-transform: uppercase; width: 9rem; margin-top: 0.5rem;"
          (click)="showTurnsOne()"
        >
          {{ user?.especialidad[0].nombre }}
        </button>
        <button
          *ngIf="user.especialidad[1]"
          class="btn btn-especialidad"
          [ngClass]="especialidad2 ? 'btn-info' : ''"
          style="text-transform: uppercase; width: 9rem; margin-top: 0.5rem; margin-left: 10px;"
          (click)="showTurnsTwo()"
        >
          {{ user?.especialidad[1].nombre }}
        </button>
        <!-- <label>Tipo de Usuario</label>
        <p>{{ user.perfil }}</p> -->
      </div>
      <div class="col col-5 col-horarios">
        <label>Mis Horarios</label>
        <div class="dias-contenedor">
          <button
            class="btn btn-especialidad"
            [ngClass]="lunes ? 'btn-warning' : ''"
            (click)="addDay('lunes')"
          >
            Lunes
          </button>
          <button
            class="btn btn-especialidad"
            [ngClass]="martes ? 'btn-warning' : ''"
            (click)="addDay('martes')"
          >
            Martes
          </button>
          <button
            class="btn btn-especialidad"
            [ngClass]="miercoles ? 'btn-warning' : ''"
            (click)="addDay('miércoles')"
          >
            Miércoles
          </button>
          <button
            class="btn btn-especialidad"
            [ngClass]="jueves ? 'btn-warning' : ''"
            (click)="addDay('jueves')"
          >
            Jueves
          </button>
          <button
            class="btn btn-especialidad"
            [ngClass]="viernes ? 'btn-warning' : ''"
            (click)="addDay('viernes')"
          >
            Viernes
          </button>
          <button
            class="btn btn-especialidad"
            [ngClass]="sabado ? 'btn-warning' : ''"
            (click)="addDay('sábado')"
          >
            Sábado
          </button>
        </div>
        <label style="margin-top: 1rem; margin-bottom: 1rem"
          >Duración de Turno (min)</label
        >
        <input
          [(ngModel)]="turnDuration"
          class="form-control"
          type="number"
          placeholder="30 Minutos"
        />
        <button
          style="margin-top: 1rem"
          class="btn btn-success"
          (click)="updateUser()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
    <div class="row" *ngIf="isEspecialista">
      <div class="col col-horarios-2">
        <label>Mis Horarios</label>
        <div class="dias-contenedor">
          <button
            class="btn btn-secondary"
            [ngClass]="lunes ? 'btn-warning' : ''"
            (click)="addDay('lunes')"
          >
            Lunes
          </button>
          <button
            class="btn btn-secondary"
            [ngClass]="martes ? 'btn-warning' : ''"
            (click)="addDay('martes')"
          >
            Martes
          </button>
          <button
            class="btn btn-secondary"
            [ngClass]="miercoles ? 'btn-warning' : ''"
            (click)="addDay('miércoles')"
          >
            Miércoles
          </button>
          <button
            class="btn btn-secondary"
            [ngClass]="jueves ? 'btn-warning' : ''"
            (click)="addDay('jueves')"
          >
            Jueves
          </button>
          <button
            class="btn btn-secondary"
            [ngClass]="viernes ? 'btn-warning' : ''"
            (click)="addDay('viernes')"
          >
            Viernes
          </button>
          <button
            class="btn btn-secondary"
            [ngClass]="sabado ? 'btn-warning' : ''"
            (click)="addDay('sábado')"
          >
            Sábado
          </button>
        </div>
        <label style="margin-top: 1rem; margin-bottom: 1rem"
          >Duración de Turno (min)</label
        >
        <input
          [(ngModel)]="turnDuration"
          class="form-control"
          type="number"
          placeholder="30 Minutos"
        />
        <button
          style="margin-top: 1rem"
          class="btn btn-success"
          (click)="updateUser()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>

  </div>
  <div class="perfil-container"></div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" style="margin: 0 auto;">
    <div class="modal-content"  style="background-color: #236c7d; color: #000000;">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <button
          type="button"
          class="btn btn-danger"
          style="
            margin-bottom: 1rem;
            display: block;
            margin-left: auto;
            margin-right: auto;
          "
          [disabled]="!hayHistorialFiltrado"
          (click)="crearPDF()"
        >
          Descargar PDF
        </button>
        <label style="font-size: 1rem; font-weight: bolder; margin-right: 2rem"
          >BUSCAR PROFESIONAL:
        </label>
           <input
            class="input-busqueda"
            type="text"
            [(ngModel)]="palabraBusqueda"
            (input)="filtrarHistorialClinico(palabraBusqueda)"
            placeholder="Ingrese al especialista..."
          />
        <div id="pdf">
          <p style="text-align: right; font-size: 1rem">
            {{ fechaActual | wholeDate  }}
          </p>
          <div
            style="display: flex; align-content: center; margin-bottom: 2rem"
          >
            <img
              src="/assets/favicon.png"
              style="width: 100px"
              alt="logo"
            />
            <h2
              style="
                text-align: center;
                font-size: 1.5rem;
                font-weight: bolder;
                padding-top: 2rem;
                margin-left: 2rem;
              "
              id="exampleModalLabel"
            >
              CLÍNICA ONLINE
            </h2>
          </div>
          <h1 style="text-align: center; font-size: 2rem">
            HISTORIAL CLÍNICO DE
            <span style="text-transform: uppercase; font-weight: bolder"
              >{{ user?.apellido }} {{ user?.nombre }}</span
            >
          </h1>
          <h3
            *ngIf="!hayHistorialFiltrado"
            style="text-align: center; color: rgb(121, 0, 0)"
          >
            No se encontró historial clínico del paciente con el especialista seleccionado.
          </h3>
          <div
            *ngFor="let historial of historialClinicoFiltrado"
            class="carta-historial"
          >
            <h3 style="background-color: #17444f;">
              INFORME -
              <span style="text-transform: uppercase">{{
                historial?.especialidad
              }}</span>
              - {{ historial?.fecha | dayDate  }}
            </h3>
            <hr />
            <p>
              <span>Especialista: </span
              >{{ historial?.especialista?.apellido }},
              {{ historial?.especialista?.nombre }}
            </p>
            <p><span>Detalle: </span></p>
            <p>Altura: {{ historial?.detalle?.altura }}</p>
            <p>Peso: {{ historial?.detalle?.peso }}</p>
            <p>Temperatura: {{ historial?.detalle?.temperatura }}</p>
            <p>Presión: {{ historial?.detalle?.presion }}</p>
            <p><span>Detalles adicionales: </span></p>
            <p *ngIf="historial?.detalleAdicional?.clave1">
              {{ historial?.detalleAdicional?.clave1 }}:
              {{ historial?.detalleAdicional?.valor1 }}
            </p>
            <p *ngIf="historial?.detalleAdicional?.clave2">
              {{ historial?.detalleAdicional?.clave2 }}:
              {{ historial?.detalleAdicional?.valor2 }}
            </p>
            <p *ngIf="historial?.detalleAdicional?.clave3">
              {{ historial?.detalleAdicional?.clave3 }}:
              {{ historial?.detalleAdicional?.valor3 }}
            </p>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="spinner" class="spinner-container">
  <div class="spinner"></div>
</div>




