<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/favicon.png" class="imagenNav" alt="icono principal" />
    </a>
    <button
      class="navbar-toggler navbar-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">
            <button class="btn-nav">Inicio</button>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/usuarios"
            *ngIf="this.authService.isAdmin"
          >
            <button class="btn-nav">USUARIOS</button>
          </a>
        </li>
          <li class="nav-item">
            <a
            class="nav-link active"
            aria-current="page"
            routerLink="/turnos"
            *ngIf="this.authService.isAdmin"
            >
          <button class="btn-nav">TURNOS</button>
          </a>
          </li>
          <li class="nav-item" *ngIf="this.isPaciente || this.isEspecialista">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/mis-turnos"
          >
            <button class="btn-nav">Mis Turnos</button>
          </a>
        </li>

        <li class="nav-item" *ngIf="this.isPaciente || this.authService.isAdmin">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/solicitar-turno"
          >
            <button class="btn-nav">Solicitar Turno</button>
          </a>
        </li>

        <li class="nav-item" *ngIf="this.isPaciente || this.authService.isAdmin || this.isEspecialista">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/mi-perfil"
          >
            <button class="btn-nav">Mi perfil</button>
          </a>
        </li>
      </ul>

      <span *ngIf="this.authService.isLogged || this.isPaciente || this.authService.isAdmin || this.isEspecialista" class="userInfo">
        <div class="user-info-content">
          <img class="img-btn" src="{{ usuarioLogueado?.imagen1 }}" alt="usuario" />
          <div class="user-info-details">
            <p class="user-info-name">
              {{ usuarioLogueado?.nombre }} {{ usuarioLogueado?.apellido }}
            </p>
            <button type="button" (click)="logout()" class="btn-logout">
              CERRAR SESIÓN
            </button>
          </div>
        </div>
      </span>
      <button
        class="btn-nav btn-registro"
        (click)="goToRegister()"
        *ngIf="!this.authService.isLogged && !this.isPaciente  && !this.authService.isAdmin && !this.isEspecialista"
      >
        <span>Registro</span>
      </button>

      <button
        class="btn-nav btn-login"
        (click)="goToLogin()"
        *ngIf="!this.authService.isLogged && !this.isPaciente  && !this.authService.isAdmin && !this.isEspecialista"
      >
        <span>Login</span>
      </button>
    </div>
  </div>
    <div *ngIf="spinner" class="spinner-container">
    <div class="spinner"></div>
</div>
</nav>