@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&family=Raleway:wght@800&display=swap');

@-webkit-keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.2);transform:scaleX(.2)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}@keyframes scale-up-hor-center{0%{-webkit-transform:scaleX(.2);transform:scaleX(.2)}100%{-webkit-transform:scaleX(1);transform:scaleX(1)}}

.home-container {
  background-image: url("../../../assets/clinica.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 90.25vh;
  height: 100%;
}

.bienvenida {
  border: #fff solid 2px;
  position: absolute;
  top:15%;
  left:27%;
  z-index: 100;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px #17444f;
  background: rgb(32, 121, 120);
  transform-origin: center;
  animation: scaleAnimation 1.5s ease-in-out forwards;
  
  h1 {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-bottom: 3rem;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }
  p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
}

.bienvenida-logueado {
  border: #fff solid 2px;
  position: absolute;
  top:15%;
  left:35%;
  z-index: 100;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 4px 4px 4px 4px #17444f;
  background: rgb(32, 121, 120);
  transform-origin: center;
  animation: scaleAnimation 1.5s ease-in-out forwards;
  
  h1 {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-bottom: 3rem;
  }
  h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
  }
  p {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    padding-bottom: 1rem;
  }
}


@keyframes scaleAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.custom-btn {
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin: 0 auto;
  border: 2px #ffff solid;
  color: #ffffff;
  padding: 16px 20px;
  border-radius: 10px;
  z-index: 1;
  overflow: hidden;
  display: block;
  width: 250px;
  margin-top: 20px;
  background: transparent;
}

.custom-btn span:last-child {
  display: none;
}

.custom-btn:hover {
  color: #fff;
}

.custom-btn::after {
  content: "";
  background: #17444f;
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.custom-btn:hover::after{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
